.header {
  border-top: 5px solid var(--primary);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
}

.logo {
  font-family: var(--font-family-logo);
  font-size: var(--font-size-logo);
  font-weight: var(--font-weight-logo);
  letter-spacing: 2px;
}

.logo span {
  transition: color 0.5s ease;
}

.logo-g {
  color: var(--pink);
  -webkit-text-stroke: 2px var(--pink);
}

.logo-i {
  color: var(--blue);
  -webkit-text-stroke: 2px var(--primary);
}

.logo-f {
  color: var(--yellow);
  -webkit-text-stroke: 2px var(--yellow);
}

.logo-o {
  color: var(--purple);
  -webkit-text-stroke: 2px var(--primary);
}

.logo-s {
  color: var(--green);
  -webkit-text-stroke: 2px var(--green);
}

.toggle--label {
  width: 3rem;
  height: 1.5rem;
  background: var(--switch-color);
  border-radius: 100px;
  border: 3px solid var(--switch-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  cursor: pointer;
}

.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: '';
  width: calc(1.5rem - 6px);
  height: calc(1.5rem - 6px);
  border: 2px solid var(--ball-border);
  position: absolute;
  border-radius: 82px;
  background: var(--ball-background);
}

@keyframes reverse {
  0% {
    left: 1.5rem;
    width: calc(1.5rem - 6px);
  }
  60% {
    left: 1rem;
    width: 1.7rem;
  }
  100% {
    left: 0;
  }
}

.toggle--label.dark {
  background: var(--switch-color);
  border-color: var(--switch-border);
}

@keyframes switch {
  0% {
    left: 0;
  }
  60% {
    left: 0;
    width: 1.7rem;
  }
  100% {
    left: 1.5rem;
    width: calc(1.5rem - 6px);
  }
}

.toggle--label.dark:before {
  background: var(--ball-background);
  border-color: var(--ball-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.toggle--label.dark .toggle--label-background {
  left: 5em;
}
