/* ############################ CSS VARIABLES ############################ */
:root {
  --white: #fff;
  --dark: #37383c;
  --font-family-body: 'Montserrat', sans-serif;
  --font-family-logo: 'Iceland', cursive;
  --text-color: transparent;

  --font-size-logo: 2rem;
  --font-size-texto-normal: 1.25rem;
  --font-size-texto-title: 1rem;
  --font-size-texto-input: 0.875rem;

  --font-weight-logo: 700;
  --font-weight-regular: 400;
}

.light-theme {
  --primary: #572ee5;
  --pink: #e80064;
  --blue: #0078f9;
  --yellow: #f0cc00;
  --green: #9ddb00;
  --purple: #a000db;

  --switch-border: #2e65e6;
  --switch-color: #b5d9ff;
  --ball-background: #fffaa8;
  --ball-border: #ffe23e;

  --background: var(--white);
  --text-color: var(--primary);
  --input-text-color: #343a40;
  --search-icon-color: var(--white);
}

.dark-theme {
  --primary: #2ee2e6;
  --pink: #ff1177;
  --blue: #228dff;
  --yellow: #ffdd1b;
  --green: #b6ff00;
  --purple: #ba01ff;
  --switch-border: var(--primary);
  --switch-color: #5d6baa;
  --ball-background: var(--white);
  --ball-border: #3c4982;

  --background: var(--dark);
  --text-color: var(--white);
  --input-text-color: var(--white);
  --search-icon-color: var(--dark);
}

/* ############################ RESET ############################# */
*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

/* ############################ GENERAL ############################# */
body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-texto-normal);
  font-weight: var(--font-weight-regular);
  background: var(--background);
  color: var(--text-color);
  margin: 0;
  line-height: 1.6;
  transition: background-color 0.5s ease;
  overflow-y: scroll;
}

.container {
  width: 88%;
  max-width: 1000px;
  margin: 0 auto;
}

.bold-text {
  font-weight: bold;
}

p {
  transition: color 0.5s ease;
}

@media screen and (min-width: 500px) {
  :root {
    --font-size-texto-normal: 1.3rem;
    --font-size-texto-input: 1rem;
  }
}

@media screen and (min-width: 768px) {
  :root {
    --font-size-logo: 2.2rem;
    --font-size-texto-title: 1.2rem;
    --font-size-texto-normal: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    --font-size-texto-normal: 1.6rem;
  }
}
